* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libre Baskerville", serif;
}


#logo img {
    width: 190px;
    height:110px;
    margin-top: 23px;
    


}

main{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 70px;
    position: relative;
}


body {

    min-height: 100vh;
    position: relative;
    background-image: url("../images/Slide5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;



}




.container {

    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;



}

.row {



    display: flex;

    flex-wrap: wrap;





}

.flex {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px;







}

.about-us h2 {

    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 600;






}


.about-us h3 {

    font-size: 27px;
    margin-bottom: 8px;
    color: #003b73;
    font-weight: 500;
    z-index: 0;






}


.about-us pre {

    font-size: 16px;
    line-height: 2;
    margin-bottom: 20px;








}











.container2 {


    position: relative;
    perspective: 1000px;

}


.container2 .slide-container .slide {
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 5px 10px black;
    width: 450px;
    padding: 20px;
    margin: 10px;
    position: relative;
    transform-style: preserve-3d;
    animation: slide .4s linear;


}




.container2 .slide-container .slide .icon {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 80px;
    color: #2b5a78;





}


@keyframes slide {

    0% {

        transform: rotatex(180deg);

    }





}



.container2 .slide-container .slide>* {
    animation: slidecontent .2s linear .4s backwards;



}


@keyframes slidecontent {
    0% {

        opacity: 0;


        transform: scale(.5);
    }



}

.container2 .slide-container .slide .user {
    display: flex;
    align-items: center
}

.container2 .slide-container .slide img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;









}


.container2 .slide-container .slide .user .user-info h3 {
    color: black;
    font-size: 20px;



}


.container2 .slide-container .slide .user .user-info .stars i {
    color: #2b5a78;
    font-size: 20px;



}



.container2 .slide-container .slide .text {
    color: black;
    font-size: 18px;
    padding-top: 15px;
    font-style: italic;



}


.container2 .slide-container {

    display: none;
}


.container2 .slide-container.active {
    display: block;



}

.container2 #next,
.container2 #prev {
    color: #2b5a78;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: black;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 1px 1px #003b73;
    transition: 0.3s;






}


.container2 #next {
    right: -45px;



}

.container2 #prev {
    left: -45px;



}



.container2 #next:hover,
.container2 #prev:hover {

    background-color: #003b73;
    color: white;
}

/********************* header *********************/
#logo img {
    width: 190px;
    height:110px;
    margin-top: 23px;
    


}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-size: 20px;

}

#nav {
    position: relative;
}

#nav ul {
    display: flex;
    list-style-type: none;
}

#nav ul li {
    margin: 0 25px;
    list-style: none;
    transition: 0.5s;

}

#nav ul li a {
    text-decoration: none;
    color: #003b73;
    position: relative;
    transition: 0.5s;
    display: block;
}






#nav ul:hover li a {
    color: whitesmoke;
    transform: scale(1.5);
    opacity: 0.2;
    filter: blur(5px);

}

#nav ul li a:hover {
    color: whitesmoke;
    transform: scale(1.2);
    opacity: 1;
    filter: blur(0);

}

#nav ul li a:before {

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #003b73;
    transition: trasnsform 0.5s;
    transform-origin: right;
    transform: scalex(0);
    z-index: -1;
    border-radius: 5px;
    padding: 2px 4px;


}

#nav ul li a:hover:before {


    transition: transform 0.5s;
    transform-origin: left;
    transform: scalex(1);

}

#nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav ul li span {
    margin-right: 7px;
}

#home {
    margin-top: -5px;

}

#sign {
    text-decoration: none;
    position: relative;
    padding: 10px 15px;
    margin: 0 20px;
    color: #003b73;
    letter-spacing: 2px;
    font-size: 20px;
    transition: 0.5s;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    transition: 0.5s;
    overflow: hidden;


}

#sign:before {

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid gold;
    border-left: 2px solid gold;
    transition: 0.5s;


}

#sign:hover:before {

    width: 100%;
    height: 100%;



}


#sign:after {

    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid gold;
    border-right: 2px solid gold;
    transition: 0.5s;


}

#sign:hover:after {

    width: 100%;
    height: 100%;


}


#sign:hover {
    background: gold;
    color: #003b73;
    box-shadow: 0 0 30px #003b73;



}





/* ****************************************************************** */



footer {

    width: 100vw;
    height: 170px;
    background-color: #15334f;
    display: flex;
    justify-content: center;
    margin-top: -7rem;



}


footer img {
    position: relative;
    width: 240px;
    height: 190px;
    display: inline;

    left: 70px;





}


.social-media {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;





}



#column .social-media li {
    padding-left: 30px;
    padding-top: 10px;
    font-size: 15px;
    margin-top: 40px;




}


#column .social-media a {

    text-decoration: none;
    color: white;
    padding: 12px;
    font-size: 20px;

}


#column .social-media span {


    color: white;
    padding: 12px;

}

i {
    background: white;
    color: #003b73;
    padding: 3px;
    
    border-radius: 50%;
    transition: .3s;

}


.social-media i:hover {
    background: gold;
    color: #003b73;
}




.footer-bottom p {



    color: gold;
    margin-top: 60px;
    margin-left: 170px
}

/*************** sections *****************/

.sections{
    height: fit-content;
    width: fit-content;
    

}
.nums {
    display: flex;
    position: relative;
    bottom: 8rem;
    left:14rem;
    
    border-radius: 6px;
}

.box {
    padding: 2rem;
    
    margin: 0 10px;
    color:rgb(0, 0, 0);
    text-shadow: 1px 1px 7px grey;
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10rem;
   
    
}

.num {
    margin-bottom: 1rem;
    font-size: 27px;
}

hr {
     color: rgb(126, 126, 126);
     margin: 7px 0;
     border-radius: 10px;
}

/************** new header  ***************/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-size: 20px;
    background-color: rgb(240, 234, 214,0); /* Add a background color with some transparency */
    z-index: 1000; /* Ensure the header stays on top of other content */
    width: 100%;
    padding: 0 20px; /* Add padding to the left and right */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    transition: background-color 0.3s; /* Smooth background color transition */
}

/* Add a class to the header when it's scrolled */
header.scrolled {
    background-color: rgb(240, 234, 214 ,0.9); /* Change the background color when scrolled */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Change the shadow when scrolled */
}

/************************ ********************/
