* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libre Baskerville", serif;
}




#social {
    display: flex;

    flex-direction: column;
    margin: 2px;
    padding: 2px;




}

body {


    background-color: #fbe7b5;
}



/****************header*************/



#logo img {
    width: 190px;
    height: 110px;
    margin-top: 23px;



}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-size: 20px;
    background: #fbe7b5;

}

.nav {
    position: relative;
}

.nav ul {
    display: flex;
    list-style-type: none;
}

.nav ul li {
    margin: 0 25px;
    list-style: none;
    transition: 0.5s;

}

.nav ul li a {
    text-decoration: none;
    color: #003b73;
    position: relative;
    transition: 0.5s;
    display: block;
}






.nav ul:hover li a {
    color: whitesmoke;
    transform: scale(1.5);
    opacity: 0.2;
    filter: blur(5px);

}

.nav ul li a:hover {
    color: whitesmoke;
    transform: scale(1.2);
    opacity: 1;
    filter: blur(0);

}

.nav ul li a:before {

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #003b73;
    transition: trasnsform 0.5s;
    transform-origin: right;
    transform: scalex(0);
    z-index: -1;
    border-radius: 5px;
    padding: 2px 4px;


}

.nav ul li a:hover:before {


    transition: transform 0.5s;
    transform-origin: left;
    transform: scalex(1);

}

.nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul li span {
    margin-right: 7px;
}

#home {
    margin-top: -5px;

}

#sign {
    text-decoration: none;
    position: relative;
    padding: 10px 15px;
    margin: 0 20px;
    color: #003b73;
    letter-spacing: 2px;
    font-size: 20px;
    transition: 0.5s;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    transition: 0.5s;
    overflow: hidden;


}

#sign:before {

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid gold;
    border-left: 2px solid gold;
    transition: 0.5s;


}

#sign:hover:before {

    width: 100%;
    height: 100%;



}


#sign:after {

    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid gold;
    border-right: 2px solid gold;
    transition: 0.5s;


}

#sign:hover:after {

    width: 100%;
    height: 100%;


}


#sign:hover {
    background: gold;
    color: #003b73;
    box-shadow: 0 0 30px #003b73;



}





/************************************************************/



#big-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh-100px);
    padding: 30px;







}


#big-container .container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #fbe7b5;
    display: flex;
    justify-content: center;
    align-items: center;








}

.item {
    width: 100%;
    height: 100vh;
    max-width: 820px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, .4);
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
   






}

.contact {
    background: #003b73;




}



.first-text {
    color: white;
    padding-left: 20px;
    padding-top: 30px;
    font-size: 30px;
    font-weight: 600;





}


.sec-text {
    color: white;
    padding-left: 20px;
    padding-top: 20px;

    font-size: 15px;
    font-weight: 600;





}

.third-text {

    color: #003b73;
    padding-left: 20px;
    padding-top: 30px;
    font-size: 30px;
    font-weight: 600;
    position: relative;






}

.contact img {

    height: 340px;
    width: 380px
}

.social-media {
    display: flex;
    list-style: none;




}

.social-media li {
    padding-left: 15px;
    padding-top: 15px;
    font-size: 23px;
    margin-top: 10px;




}

i {
    background: white;
    color: #003b73;
    padding: 3px;
    border-radius: 50%;
    transition: .3s;

}


.social-media i:hover {
    background: #fbe7b5;
    color: #003b73;
}




form {
    padding: 0 50px;
    height: 100%;
    width: 100%;
    overflow: hidden;

}


.input-box {
    height: 40px;
    width: 70%;
    margin: 30px 0;
    position: relative;




}

.input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #003b73;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    color: black;
    font-size: 15px;
}


.input-box label {
    position: absolute;
    top: 50%;
    left: 10px;
    padding-left: 10px;
    transform: translateY(-50%);
    font-size: 15px;
    color: #003b73;
    transition: .3s;

}




.input-box .input:focus~label,
.input-box .input:valid~label {

    top: -1px;
    left: 10px;
    background-color: white;
    font-weight: 600;
    font-size: 14px;
    padding: 5px;







}

textarea.input {


    resize: none;
    min-height: 150px;
    overflow: auto;



}

.btn {

    position: relative;
    top: 100px;
    background: #003b73;
    outline: none;
    border: none;
    border-radius: 12px;
    height: 45px;
    width: 30%;
    font-size: 16px;
    color: white;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;







}


.btn:hover {


    background: #fbe7b5;
    color: #003b73
}

/**********************footer************************/

footer {

    width: 100vw;
    height: 170px;
    background-color: #15334f;
    display: flex;
    justify-content: center;



}


footer img {
    position: relative;
    width: 240px;
    height: 190px;
    display: inline;

    left: 70px;





}


.social-media {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;





}



#column .social-media li {
    padding-left: 30px;
    padding-top: 10px;
    font-size: 15px;
    margin-top: 40px;




}


#column .social-media a {

    text-decoration: none;
    color: white;
    padding: 12px;
    font-size: 20px;

}


#column .social-media span {


    color: white;
    padding: 12px;

}

i {
    background: white;
    color: #003b73;
    padding: 3px;

    border-radius: 50%;
    transition: .3s;

}


.social-media i:hover {
    background: gold;
    color: #003b73;
}




.footer-bottom p {



    color: gold;
    margin-top: 60px;
    margin-left: 170px
}




/************** new header  ***************/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-size: 20px;
    background-color: rgb(240, 234, 214,0); /* Add a background color with some transparency */
    z-index: 1000; /* Ensure the header stays on top of other content */
    width: 100%;
    padding: 0 20px; /* Add padding to the left and right */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    transition: background-color 0.3s; /* Smooth background color transition */
}

/* Add a class to the header when it's scrolled */
header.scrolled {
    background-color: rgb(240, 234, 214 ,0.9); /* Change the background color when scrolled */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Change the shadow when scrolled */
}

/************************ ********************/

